altgraph==0.17.2
asgiref==3.7.2
black==23.7.0
click==8.1.5
Django==4.2.3
future==0.18.2
gunicorn==20.1.0
macholib==1.15.2
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
platformdirs==3.8.1
six==1.15.0
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.7.1
